<div>
  <ul>
    <li><br><br>

<%= flash[:success] %>
<%= flash[:update] %>

   <br><br><br>

<b>Title: </b><%= @book.title %><br><br>
<b>Body: </b><%= @book.body %></p><br>

<%= link_to "Edit", edit_book_path(@book.id) %> | <a href="/books">Back</a>

    </li>
  </ul>
</div>